name: setup.yml

on: 
  workflow_dispatch:
  push:
    branches: [master]
    
jobs:
  setup-test:
    if: true
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
          - os: windows-latest
          - os: macos-latest
    runs-on: ${{ matrix.os }}
    steps:    
      - name: Setup fcli & sc-client
        uses: fortify/github-action/setup@feat/fcli-ci
        with:
          sc-client: latest
          fcli: v3
        # env:
        #  FCLI_URL: ${{ matrix.fcli_url }}
      - name: Verify fcli installation
        if: always()
        run: ls -laR ${RUNNER_TOOL_CACHE}/fcli ; ls -laR ${RUNNER_TOOL_CACHE}/sc-client
        shell: bash
      - name: Show env vars
        if: always()
        run: env
        shell: bash
      - name: Show fcli version
        if: always()
        run: fcli --version
        shell: bash
      - name: Show sc-client version
        if: always()
        run: scancentral --version
        shell: bash
      - name: Run sc-client through fcli
        if: always()
        run: fcli tool sc-client run -- --version
        shell: bash